@media only screen and (max-width: 1000px) { 
	.navbar a {
		padding: 0 12px;
	}
}

@media only screen and (max-width: 768px) { 
	header {
		min-height: 155px;
		position: relative;
	}
	
	.logo {
		margin-bottom: 1px !important;
	}
	
	.phone {
		position: absolute;
		top: 50px;
		right: 15px;
		z-index: 1000;
	}

	.banner {
		display:  none;
	}
	
	.navbar {
		margin-top: 4px !important;
		position: static;
		width: 2px;
	}
	
	.navbar-toggle {
		background: #fff;
		position: absolute;
		bottom: 5px;
		z-index: 100;
		right: 0;
	}
	
	.icon-bar {
		background: #000;
	}
	
	.navbar-collapse {
		position: absolute;
		right: 15px;
		top: 100%;
		background: #fafafa;
		width: 250px !important;
		z-index: 100;
	}
	
	.navbar-collapse li {
		width: 100%;
	}
	
	aside.pull-left,
	aside {
		float: none !important;
	}
	
	.slider {
		margin-top: 20px;
	}

	aside .left-img {
		margin: auto;
	}
	
	footer .each-section {
		text-align: center;
	}
	
	footer .icons {
		float: none;
		margin: auto;
		width: 110px;
		right: -5px;
		position: relative;
	}
	
	.border {
		padding: 0;
	}
}