@media only screen and (max-width: 1000px) { 
	.navbar a {
		padding: 0 7px;
	}
}

@media only screen and (max-width: 992px) and (min-width: 768px)  {
	.social-link {
		font-size: 12px !important;
	}
}

@media only screen and (max-width: 992px) {	.each-post p {		float: none;		clear: both;		display: block;	}		.each-post img {		margin-bottom: 12px;	}}
@media only screen and (max-width: 768px) { 
	header {
		min-height: 155px;
		position: relative;
	}
	
	.logo {
		margin-bottom: 1px !important;
	}
	
	.phone {
		text-align: center;
	}

	.phone a {
		float: none;
	}

	.banner {
		display:  none;
	}
	
	.navbar {
		margin-top: 4px !important;
		position: static;
		width: 2px;
	}
	
	.navbar-toggle {
		background: #fff;
		position: absolute;
		bottom: 5px;
		z-index: 100;
		right: 0;
	}
	
	.icon-bar {
		background: #000;
	}
	
	.navbar-collapse {
		position: absolute;
		right: 15px;
		top: 100%;
		background: #fafafa;
		width: 250px !important;
		z-index: 100;
	}
	
	.navbar-collapse li {
		width: 100%;
	}
	
	aside.pull-left,
	aside {
		float: none !important;
	}
	
	.slider {
		margin-top: 20px;
	}

	aside .left-img {
		margin: auto;
	}
	
	footer .each-section {
		text-align: center;
	}
	
	footer .each-section img {
		margin-left: 25%;
		position: relative;
		left: -55px;
	}
	
	footer .each-section:nth-child(2) {
		margin-top: -40px;
		text-align: center;
	}

	footer .icons {
		float: none;
		margin: auto;
		width: 105px;
		position: relative;
		left: calc(25% - 15px);
		padding: 0;
	}

	footer .icon {
		float: right;
		clear: none;
		position: absolute;
	}

	footer .icon:nth-child(1) {
		float: right;
		clear: none;
		position: absolute;
		right: 0;
	}
	
	.border {
		padding: 0;
	}
}

@media only screen and (max-width: 480px) {
	.each-column {
		width: 100%;
		padding: 0 5%;
	}

	.each-column.pad {
		width: 100%;
	}
}